.headerContent {
    text-align: left;
  }
  
.headerIcon{
    color: white !important;
    text-align: left;
    margin-right: 5px;
    font-size: 20px;
    margin-Top: 10px;
}
  
span.headerSpan {
    color: white;
    text-align: left; 
}