.App {
  text-align: center;
}

.layout {
  height: '100vh';
  overflow: 'hidden';
}

.headerContent {
  text-align: "left";
}

.headerIcon{
  color: "white";
  text-align: "left";
  margin-right: "5px";
  font-size: '20px';
  margin-Top: "10px";
}

.headerSpan {
  color: "white";
  text-align: "left"; 
}

.contentWrapper {
  padding: '0';
}

.breadcrumb {
  text-align: "left";
  background-color: "white";
  margin: '0';
}

.content {
  padding: 24;
  margin: 0;
}

.footer {
  text-align: 'center';
  background-color: "#001529";
}

