.App {
  text-align: center;
}

.layout {
  height: '100vh';
  overflow: 'hidden';
}

.contentWrapper {
  padding: '0';
}

.breadcrumb {
  text-align: "left";
  background-color: "white";
  margin: '0';
}

.content {
  padding: 24;
  margin: 0;
}