.message {
    margin-top: 15px; 
    overflow: auto; 
    border-radius: 20px;
    text-align: left;
    margin-left: 8%;
    background-color: white;
    width: 45%;
}

.messageText {
    width: 90%;
    text-align: left;
    margin: 15px 15px;
    padding-top: 10px;
    border-radius: 20px;
}

.messageAuthor {
    margin: 0 25px;
    padding: 0;
    float: right;
}